---
/**
 * @component CardHeader
 * @summary A component for the header section of a `Card`.
 * @description This component is designed to be used as the header within a `Card` component. It provides appropriate spacing and layout for header elements like `CardTitle` and `CardDescription`.
 * @property {string} [class] - Additional CSS classes to be applied to the header `div`.
 */
export interface Props {
  class?: string;
}

const { class: className = '', ...props } = Astro.props;

const headerClasses = `flex flex-col space-y-1.5 p-6 ${className}`.trim();
---

<div class={headerClasses} {...props}>
  <slot />
</div>