---
/**
 * @component CardContent
 * @summary A component for the main content area of a `Card`.
 * @description This component is designed to be used inside a `Card` component. It provides the appropriate padding and styling for the main content of the card.
 * @property {string} [class] - Additional CSS classes to be applied to the content `div`.
 */
export interface Props {
  class?: string;
}

const { class: className = '', ...props } = Astro.props;

const contentClasses = `p-6 pt-0 ${className}`.trim();
---

<div class={contentClasses} {...props}>
  <slot />
</div>